html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../public/lines-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'KyivTypeSans';
  src: url('../public/fonts/KyivTypeSans-Medium-.eot');
  src: url('../public/fonts/KyivTypeSans-Medium-.eot?#iefix')
      format('embedded-opentype'),
    url('../public/fonts/KyivTypeSans-Medium-.woff2') format('woff2'),
    url('../public/fonts/KyivTypeSans-Medium-.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 14px;
}

@media screen and (min-width: 1024px) {
  .swiper-slide img {
    border-radius: 42px;
  }
}

address {
  font-style: normal;
}
